.no {
    &-padding {
        padding: 0;
    }

    &-padding-top {
        padding-top: 0;
    }

    &-padding-right {
        padding-right: 0;
    }

    &-padding-bottom {
        padding-bottom: 0;
    }

    &-padding-left {
        padding-left: 0;
    }
}