.invisible {
  visibility: hidden;
}

.hide {
  display: none !important;
  visibility: hidden;
}

.show {
  display: block !important;
  visibility: visible;
}

.show-flex {
  display: flex !important;
  visibility: visible;
}

.show-grid {
  display: grid !important;
  visibility: visible;
}