.popup {
    
    // Basic styles
    
    position: relative;
    width: 875px;
    min-height: 650px;
    max-width: 95%;
    margin: 40px auto;
    padding: 50px 60px 60px;
    background-color: #fdfdfd;


    // Text elements


    // UI elements


    // Sizes


    // Types & Themes


}