@function rem($px) {
    @return $px / $font-size-base+0rem;
}


@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


@mixin absolute-centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin absolute-x-centering {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


@mixin absolute-y-centering {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


@mixin flex-centering {
    align-items: center;
    justify-content: center;
}


@mixin margin-centering {
    margin-left: auto;
    margin-right: auto;
}


@mixin links-all {
    &:link,
    &:visited,
    &:focus,
    &:hover {
        @content;
    }
}


@mixin outline {
    outline: 2px solid rgba(0, 74, 221, 0.5);
    outline-offset: 4px;
}


@mixin button-defaults() {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    transition: background-color $transition-time, color $transition-time, border $transition-time, box-shadow $transition-time, opacity $transition-time, filter $transition-time;

    &:focus {
        @include outline();
    }

    &:active {
        opacity: 0.9;
    }

    &:hover {
        text-decoration: none;
    }
}


// @include box(100px);
@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}


// @include font("NameFont", "path");
@mixin fonts($alias, $name, $weight:normal, $style:normal) {
    @font-face {
        font-family: $alias;
        src: url("../fonts/"+ $name + ".woff2") format("woff2"),
            url("../fonts/"+ $name + ".woff") format("woff"),
            url("../fonts/"+ $name + ".ttf") format("truetype"),
            url("../fonts/"+ $name + ".eot") format("embedded-opentype");
        font-weight: $weight;
        font-style: $style;
    }
}


//.block { @include desktop { @content; } }
@mixin desktop-wide {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin tablet-lg {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin tablet-md {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet-sm {
    @media (max-width: 640px) {
        @content;
    }
}

@mixin phablet {
    @media (max-width: 560px) {
        @content;
    }
}

@mixin phone-lg {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin phone-md {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin phone-sm {
    @media (max-width: 360px) {
        @content;
    }
}

@mixin note-height {
    @media (max-height: 800px) {
        @content;
    }
}


// section paddings
@mixin section-padding-lg {
    padding: 100px 0;

    @include desktop-wide {
        padding: 80px 0;
    }

    @include desktop {
        padding: 70px 0;
    }

    @include laptop {
        padding: 60px 0;
    }

    @include tablet-lg {
        padding: 50px 0;
    }

    @include tablet-md {
        padding: 45px 0;
    }

    @include phone-lg {
        padding: 40px 0;
    }

    @include phone-sm {
        padding: 30px 0;
    }
}

@mixin section-padding-top-lg {
    padding: 100px 0 0;
}

@mixin section-padding-bottom-lg {
    padding: 0 0 100px;
}

@mixin section-padding-md {
    padding: 70px 0;
}

@mixin section-padding-top-md {
    padding: 70px 0 0;
}

@mixin section-padding-bottom-md {
    padding: 0 0 70px;
}

@mixin section-padding-sm {
    padding: 50px 0;
}

@mixin section-padding-top-sm {
    padding: 50px 0 0;
}

@mixin section-padding-bottom-sm {
    padding: 0 0 50px;
}


// transition
@mixin transition($transition-property: all,
    $transition-this-time: $transition-time,
    $transition-this-effect: $transition-effect) {
    transition: $transition-property $transition-this-time $transition-effect;
}

@mixin transition-no-outline() {
    transition: background-color $transition-time, color $transition-time, border $transition-time, box-shadow $transition-time, opacity $transition-time, filter $transition-time;
}


// Вставка иконок png из спрайта
// @extend .icon-name;

// svg
@mixin svg-icon($icon-file-name, $icon-size-width, $icon-size-height) {
    width: $icon-size-width;
    height: $icon-size-height;
    background-size: $icon-size-width $icon-size-height;
    background-image: url("#{$img-dir-path}icons-svg/#{$icon-file-name}");
}