html {
    font-size: 100%;
    font-family: $font-family;

    @include media {
        @include desktop {
            font-size: 87.5%;
        }
    }
}

body {
    line-height: $line-height-base;
    color: $color-black;
    background-color: $color-white;
}