//@include fonts("NameFont", "path");
//@include fonts("NameFont", "NameFont-Bold", 700);
//@include fonts("NameFont", "NameFont-BoldItalic", 700, italic);

::selection {
    color: $color-white;
    background: $color-accent;
}

b,
strong {
    font-weight: $font-weight-bold;
}

a {
    color: $link-color;
    -webkit-tap-highlight-color: transparent;
    @include transition();
}

p {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: .5em 0;
    line-height: $line-height-sm;
    font-weight: $font-weight-regular;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 28px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 16px;
}