//@include fonts("NameFont", "NameFont-Bold", 700);
//@include fonts("NameFont", "NameFont-BoldItalic", 700, italic);

::selection {
    color: $color-white;
    background: $color-accent;
}

b,
strong {
    font-weight: $font-weight-bold;
}

a {
    color: $link-color;
    -webkit-tap-highlight-color: transparent;
    @include transition(color);

    &:focus {
        @include outline;
    }
}

p {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: .5em 0;
    line-height: $line-height-sm;
    font-weight: $font-weight-regular;
}

h1,
.h1 {
    font-size: rem(36px);
}

h2,
.h2 {
    font-size: rem(32px);
}

h3,
.h3 {
    font-size: rem(28px);
}

h4,
.h4 {
    font-size: rem(24px);
}

h5,
.h5 {
    font-size: rem(18px);
}

h6,
.h6 {
    font-size: rem(16px);
}