.btn {
    @include button-setup(15px 30px);
    color: $color-white;
    font-size: 18px;
    background: $color-accent;
    border-radius: 5px;

    &:hover,
    &:focus {
        color: $color-accent;
    }
}