@charset "utf-8";

/*
Naming prefixes:
~ cmn - common section/block
~ hp - homepage
~ pg - internal page
*/

/* Service styles and things */

@import "service/variables";
@import "service/mixins";
@import "service/icons";

@import "sprite/sprite";


/* External styles */

@import "vendors/reboot";
@import "vendors/libs";
@import "vendors/popup-anim";


/* Utilities */

@import "utilities/colors";
@import "utilities/common";
@import "utilities/flex";
@import "utilities/margins";
@import "utilities/text";
@import "utilities/visibility";


/* Basic styles */

@import "base/typography";
@import "base/base";


/* Components */

@import "components/containers";
@import "components/form";
@import "components/buttons";
@import "components/popups";
@import "components/lists";


/* Sections & Pages */

@import "sections/cmn-header";
@import "sections/hp-hero";
@import "sections/cmn-footer";